#bt:hover{
    background: #000;
}

#bt:hover .spn{
    color: white;
    
}

#par{
    position: relative;
}

@media (max-width: 1440px) {
    #login{
        font-size: 25px;
    }
    #register{
        width: 80vw;
    }
  }
